@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-height:80px;
  --zinc-dark:rgb(39 39 42);
  --zinc-dark-hover:rgb(47, 47, 51);
  --portfolio-orange: #FF8551;
  /* --bg-background: #171717;   */
  /* --bg-background: #212121;   */
  --bg-background: #0C0F1D;  
  /* --bg-main: #7289da; */
  --bg-main: #3F97E9;
  --bg-main-hover: #519fe9;
  --lesser-text-color:#9e9e9e;
  --link-color:#fff;
  --error-text:#d32f2f;
  --default-border:#B4B4B8;
  --main-text-color:#fff;
  --full-height: calc(100vh - var(--navbar-height));
  --navbar-color: #000;
}

/* 
  8e5bdb purple
4a97de blue
d21cd6 redish thing
*/

/**
  Next JS Stuff
**/
next-route-announcer div {
  margin: 0 !important;
}
[data-overlay-container=true] {
  height: 100%;
  width: 100%;
}

/**
  Global CSS
**/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;  
  font-size: 1rem;  
  color: var(--main-text-color);
  scroll-behavior: smooth;
}
  html,
  body {
    height: 100%;
  }

  main {
    /* height: calc(100vh - var(--navbar-height)) */
  }

.page-layout {
  max-width: 1280px;  
  margin: 0 auto;
}

.bg-dark {
  background-color: var(--bg-background);
}

a, 
.h1-dark, 
.h2-bg,
.h3-dark,
h1,
h2,
h3
 {
  color:var(--main-text-color);
}
button {
  cursor: pointer;
}

.h1-dark, h1 {
	/* font-size: 2rem;	 */
}

.h2-bg, h2 {
  font-size: 1.7rem;
}

.h3-dark, h3 {
  font-size: 1.5rem;
}

.btn-blg {
  color: #fff;
  font-size: 1.2rem;
  background-color: var(--bg-main);
  background: rgb(223,95,73);
background: linear-gradient(90deg, rgba(223,95,73,1) 0%, rgba(252,131,94,1) 50%, rgba(252,145,104,1) 100%);
  width: 300px;
  padding: 10px;
  
  border: none;
  border-radius: 7px;
  background: hsla(132, 79%, 68%, 1);

  background: linear-gradient(90deg, hsla(132, 79%, 68%, 1) 0%, hsla(101, 62%, 48%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(132, 79%, 68%, 1) 0%, hsla(101, 62%, 48%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(132, 79%, 68%, 1) 0%, hsla(101, 62%, 48%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6EEE87", endColorstr="#5FC52E", GradientType=1 );
  
  }
  
.btn-blg:hover {
  background-color: var(--bg-main-hover);
  
}

.btn-no-style {
  padding: 0;
  border: none;
  background: none;
}

.btn-icon {
  background-color: transparent;
  border: none;
  padding: 0;
  color:#fff;
}

.link-no-style {
  text-decoration: none;
  color: var(--link-color);
}

.mobile-display {
  display:initial;
}

.desktop-display {
  display: none;
}

.flex-dual {
  display: flex;
}

.ellipsis-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-error {
  min-height: 24px;
  color:var(--error-text);
}

@media only screen and (min-width: 1331px) {
  main {
    /* padding: 0 40px; */
  }
  
  .mobile-display {
    display: none;
  }

  .desktop-display {
    display: initial;
  }
}

