.authContainer,
.registerForm {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    max-width: 700px;
}
    .authContainer {
        gap: 30px;
        padding: 20px;
    }
    .registerForm {
        gap: 15px;
    }

.inputError {
    min-height: 24px;
    color:var(--error-text);
}

.btnAuth:global(.btn-blg) {
    padding: 10px 20px;
    width: 100%;
}