.hero {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--navbar-height));
    justify-content: center;
    align-items: center;    
}
.hero-img-contn{    
    display: none;
 
}
.hero-cta-contn {
    display: flex;
    width: 100%;
    flex-basis: 100%;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.548),rgba(0, 0, 0, 0.555)), url("/images/hero/hero-mobile.jpg");
    background-repeat: no-repeat;    
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    gap: 40px;
}
.title {
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
.accent {
    color: var(--bg-main);
}
.btn-cta {
    width: 150px;
    height: 40px;
    color: #fff;
    font-size: 1.2rem;
    background-color: var(--bg-main);
    border: none;
    border-radius: 7px;
}
.btn-cta:hover {
    background-color: var(--bg-main-hover);
}

@media only screen and (min-width:451px) {
    .hero-cta-contn {
        padding: 0 60px;
        gap: 40px;
    }
    .title {
        color: #fff;
        font-size: 2.5rem;
        text-align:start;
    }
    .btn-cta {
        width: 200px;
        height: 60px;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 891px) { 
    .hero {        
        height: calc(100vh - var(--navbar-height));
        flex-direction: row;
        justify-content:baseline;
        align-items:normal; 
    }
    .hero-img-contn{   
        display: block;         
        flex-basis: 60%;
    }
    .hero-cta-contn {
        flex-basis: 60%;
        width: 100%;
        background-image:none;
    }
    .hero-img-contn img {
        width: 100%;
        height:100%;
        object-fit: cover;
    }    
    .hero-cta-contn {                
        justify-content: center;
        padding: 0 60px;
        gap: 60px;
    }
    .title {     
        font-size: 2.125rem;
    }
    .btn-cta {
        width: 300px;
        height: 60px;        
        font-size: 1.5rem;
    }
    
}

@media only screen and (min-width: 1331px) {
    .title {
        font-size: 4rem;    
    }
    .btn-cta {
        width: 400px;
        height: 60px;
        font-size: 1.875rem;
    }
}

