.background-dark{
    background-color: var(--bg-background);
}

.content-padding {
  padding: 0 20px;
}

.feed-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media only screen and (min-width: 1331px) {
    .content-padding {
      padding: 0 7rem;
    }
  }