.feed-item {
    padding: 0;
    gap:10px;
    /* max-height: 168px; */
}
.feed-item-dark,
.source {
    color: #fff;
}

.feed-left {
    max-width: 170px;
}
.feed-left img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.feed-right {
    max-width: 188px;
}

.feed-details {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.source:hover {
    color:#F7EFE5;
}

.feed-actions {
    display: flex;
    gap: 20px;
}
.feed-action-item:global(.btn-no-style) {
    display: flex;
    align-items: center;
    gap:6px;
    color: #fff;
}
.feed-action-item svg {
    width: 16px;
    height: 100%;
}