.feed-container {
    padding-top: 30px;
}

.feed-container, 
.feed-items {
    display: flex;
    flex-direction: column;    
    gap: 30px;
}

.feed-items {
    padding: 0;
    gap: 10px;
}

@media only screen and (min-width: 690px) {
    .feed-items {        
        flex-direction: row;
        flex-flow: row wrap;        
        gap: 10px;      
    }
}
@media only screen and (min-width: 1331px) {
    .feed-items {                
        gap: 30px;      
    }
}