.nav {
    background-color: var(--navbar-color);
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    
}

.logo-link {    
    z-index: 100;
    width: 230px;    
}
.logo-link img {
    width: 100%;
}

.nav-links {    
    display: none;
    list-style: none;
    padding: 0;     
}
.nav-links a {
    text-decoration: none;
    color: #fff;
}
.nav-links a:hover {
    color: var(--bg-main);
}

@media only screen and (min-width: 891px) {
    .nav {
        padding: 0 20px;
        font-size: 1.2rem;
    }

    .logo-link {
        width: 250px;
    }

    .nav-links {
        display: flex; 
        gap:20px
    }
}

@media only screen and (min-width: 1081px) {
    .nav {    
        padding: 0 40px;    
        font-size: 1.3rem;
    }

    .logo-link {
        width: 300px;
    }

    .nav-links {
        gap: 40px;  
    }

}